  body{
    margin:0
  }
  .paper{
    margin-right:auto !important;
    margin-left: auto !important;
  }
  .avatar {
    background-color:#57b4df;
    margin-left:auto ;
    margin-right:auto ;
  }
  .form {
    width: 100%; // Fix IE 11 issue.
  }
  
  .loginPage{
   // background-image: url("../images/login-bg.jpg");
    background-color: #57b4df;
    height: 100vh;
    display: flex;
  }